* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  
}

body {
  font-family: sans-serif;
}

.navbar a {
  display: block;
  padding: 20px 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar a:hover {
  background: none;
  color: darkslategrey;
}

.header {
  height: 80vh !important;
  background: url(img/102561.png) no-repeat center;
  background-size: cover;
}

.boton {
  padding-left: 2%;
}

.title {
  margin-bottom: 30px;
  font-size: 90px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.title1 {
  margin-bottom: 30px;
  font-size: 70px;
  font-weight: 600;
  color: rgb(121, 114, 103);
  text-align: center;
}

.title2 {
  margin-bottom: 30px;
  font-size: 70px;
  font-weight: 600;
  color: rgb(121, 114, 103);
  text-align: center;
}

p {
  margin-bottom: 60px;
  font-size: 25px;
  color: #fff;
  padding: 0 100px;
  text-align: center;
}

.btn1 {
  display: inline-block;
  padding: 10px 40px;
  border: 3px solid white;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

.btn1:hover {
  background: none;
  color: darkslategrey;
}

.btn2 {
  display: inline-block;
  padding: 10px 40px;
  border: 3px solid white;
  color: rgb(121, 114, 103);
  text-decoration: none;
  font-size: 25px;
}

.btn2:hover {
  background: none;
  color: darkslategrey;
}

.btn3 {
  display: inline-block;
  padding: 10px 40px;
  border: 3px solid darkslategrey;
  text-decoration: none;
  font-size: 25px;
}

.btn3:hover {
  background: none;
  color: darkslategrey;
}

.btn1:hover {
  background: none;
  color: darkslategrey;
}

.btn:hover {
  background: none;
  color: darkslategrey;
}

.btn-home {
  display: flex;
}

.btn-home a {
  margin: 0 25px;
}

.content {
  height: 80vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sau {
  padding: 30px;
  background: darkslategrey;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.box-container .box i {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background: #27072c;
  font-size: 2rem;
  margin: 1rem 0;
}

.box-container .box h3 {
  font-size: 20px;
  color: darkslategrey;
}

.box-container .box p {
  padding: 0 15px;
  font-size: 16px;
}

.map {
  background-color: white;
  box-shadow: darkslategrey 20px 20px 20px;
  width: 650px;
  height: 400px;
}

.map1 {
  text-align: left;
  margin: 2%;
  margin-top: 2%;
}

.map2 {
  text-align: left;
  margin: 2%;
}

.ubicacion {
  width: 500px;
  height: 400px;
  margin-top: 5%;
  margin-left: 2em;
  font-size: 20px;
  padding-left: 2%;
}

.footer1 {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 100%;
  background-color: #2890e6;
 
}

.redes{
    display: flex;
   
    
    
    background-color: #e9712a;
    
    
}

.pie{

    display: flex;
    text-align: right;
    background-color: #d2313b;
   
}

.icon-redes-footer {
  margin: 15px;
  border-bottom: #dcc2e4;
  background: darkslategrey;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: white;
}

.fa-facebook-f:hover {
  text-decoration: none;
  background: #41579a;
  color: #fff;
}

.fa-twitter:hover {
  text-decoration: none;
  background: #2890e6;
  color: #fff;
}

.fa-instagram:hover {
  text-decoration: none;
  background: linear-gradient(
    to top right,
    #fcde30,
    #e9712a,
    #d2313b,
    #ae4198,
    #7540a1,
    #5443a8
  );
  color: #fff;
}

.about {
  background: url(img/GRISbrindis-cerveza.png) no-repeat center;
  background-size: cover;
}

.price {
  background: url(./img/86261947792.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.contact {
  background: url(./img/2022_12_12_08_01_2333333_Bar_Ratitos_Google_Maps.png)
    no-repeat center;
  display: flex;
  align-items: flex-start;
  padding: 120px;
  background-size: cover;
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 0;
    font-size: 40px;
  }

  .sau {
    height: 100vh;
  }

  .navbar {
    display: none;
  }
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

  * {
    font-family: "Poppins", sans-serif;
  }

  img {
    height: 280px;
  }

  body {
    background: rgb(239, 239, 245);
  }
